input {
    display: block
}

input[type=text] {
    width: 200px;
}

input[type=submit] {

width: 100px;
border-radius: 20px;
}

textarea {
    width: 1000px;
    height: 100px;
    border-color: red;
}
textarea:focus {
    outline: none;
    border-color: yellowgreen;
}