body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: darkorange;
    justify-content: space-around;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}