body {
    background-color: cadetblue;
}

h1 {
    text-align: center;
    background-color: lightcoral;
}

nav {
    display:flex;
    background-color: orchid;
    justify-content: space-around;
    text-align: center;
    font-size: 23px;
}

main {
    display: flex;
}



.solo {
    display: flex;
    height: 400px;
}

.solo-2 {
    display: flex;
    flex-direction: column;

}
#solo-1 {
    display: flex;
    font-size: 25px;
}


#OPM {
    display: flex;
    flex-direction: column;
}

#OPM-2 {
    display: flex;
    /*width: 200px;*/

}

.OPM-1 {
    display: flex;
    font-size: 25px;
}

.kaiju {
    display: flex;
    width: 200px;
    height: 200px;
}

#k-8 {
    display: flex;
    font-size: 25px;
}

.k-8-2 {
    display: flex;
    /*flex-direction: column;*/
}

#m-c-3 {
    display: flex;
    float: left;
}

.Rechts {
    display: flex;
    flex-direction: column;
    width: 500px;
    /*float: right;*/
    gap: 200px;
    margin-top: 100px;
}

footer {
    text-align: center;
    background-color:cornsilk;
    margin-top: 20px;
}