body {
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
    background-color: darkturquoise;
}

nav {
    display:flex;
    background-color: orchid;
    justify-content: space-around;
    text-align: center;
    font-size: 23px;
}

main {
    display: flex;
}

#Fairy {
    display: flex;
    height: 400px;
}

.F-1 {
    display: flex;
    flex-direction: column;

}
#F-2 {
    display: flex;
    font-size: 25px;
}


#One-Piece {
    display: flex;
    /*width: 360px;*/
    /*height: 400px;*/
}
.O-P {
    display: flex;
    flex-direction: row;
}

#O-P-2 {
    display: flex;
    font-size: 25px;
}

#B-10 {
    display: flex;
    /*width: 500px;*/
    /*height: 500px;*/
}

#B-1 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.B-2 {
    display: flex;
    /*flex-direction: column;*/
}

#m-c-3 {
    display: flex;
    float: left;
}

.Rechts {
    display: flex;
    flex-direction: column;
    width: 500px;
    /*float: right;*/
    gap: 200px;
    margin-top: 100px;
}

#Poster {
    display: flex;
    height: 600px;
    object-fit: cover;
}

footer {
    text-align: center;
    background-color:cornsilk;
    margin-top: 20px;
}