.navbar {
    display: flex;
    flex-direction: row;
    background-color: darkorange;
    justify-content: space-around;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: yellowgreen;
}
.news:first-child {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}
.news {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
}
.news:last-child {
    display: flex;

}

#breaking {
display: flex;
order: 1;
flex-wrap: wrap;
text-align: center;
justify-content: center;
flex-direction: column;

}

.content div:first-of-type {
    order: 2;
}